<ion-view style="" title="Confirmed Orders">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        
        <div style="" class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item >Drug 1</ion-item>
                    <ion-item >Drug 2</ion-item>
                    <ion-item >Drug 3</ion-item>
                </ion-list>
                <div class="item-input-inset">
                    <div class="item-input-wrapper card">Home Delivery</div>
                    <a class="item-input-wrapper button button-balanced" value="Delivery Details" href="#/app/orderDetails">Order Details</a>
                </div>
            </div>
        </div>
        <div style="" class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item>Drug 4</ion-item>
                    <ion-item>Drug 5</ion-item>
                    <ion-item>Drug 6</ion-item>
                </ion-list>
                <div class="item-input-inset">
                    <div class="item-input-wrapper card ">Home Delivery</div>
                    <input class="item-input-wrapper button button-balanced" ng-disabled="!" value="Order Details" type="submit">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>