<ion-view style="" title="Details">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="list card">
            <div class="item item-divider">Delivery In</div>
            <div class="item item-body">
                <form style="" class="list">
                    <ion-item style="" class="range range-positive">Hrs
                        <input max="8" min="0" value="4" type="range">
                    </ion-item>
                    <ion-item style="" class="range range-positive">Days
                        <input max="1" min="0" value="0" type="range">
                    </ion-item>
                </form>
            </div>
        </div>
        <form style="" class="list">
            <ion-checkbox style="">Home Delivery (Default)</ion-checkbox>
            <ion-checkbox style="">Store Pickup</ion-checkbox>
            <div style="width: 283.2px; height: 28px;" class="spacer"></div>
            <label style="" class="item item-input">
                <span class="input-label">comments: Need a xerox of Prescription</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button style="" class="button button-positive button-block ">Confirm</button>
    </ion-content>
</ion-view>