<ion-view view-title="">
  <ion-nav-title>
       <!-- <img class="title-image" src="img/logo.png">-->
           <h1 class="title" style="right:50px;color:#0F75BC;font-weight:bold;font-size:xx-large">Pharmacy</h1>
    </ion-nav-title>
  <ion-content>
  <ion-item>
    New Order Available, check the drugs available and click go.
	</ion-item>
        <ion-list style="">
            <ion-checkbox style="">Drug 1 ----10</ion-checkbox>
            <ion-checkbox style="">Drug 1 ----10</ion-checkbox>
            <ion-checkbox style="">Drug 1 ----10</ion-checkbox>
            <ion-checkbox style="">....................</ion-checkbox>
        </ion-list>
        <div style="" class="list card">
            <div class="item item-body">
                
                <button style="" class="positive button button-positive button-block">Go!</button>
                <button style="" class="button button-royal button-block ">Ignore!</button>
            </div>
        </div>
		 <div style="" class="list card">
            <div class="item item-body">
			(show this only when no orders available)
                <h4 style="">No Orders Available</h4>
                <h4 style="">Check Back Again!</h4>
            </div>
        </div>
  </ion-content>
</ion-view>
