<ion-view view-title="Pharmacy">
  <ion-content>
  <ion-item>
    New Order Available
	</ion-item>
        <ion-list style="">
            <ion-checkbox style="">Drug 1 ----10</ion-checkbox>
            <ion-checkbox style="">Drug 1 ----10</ion-checkbox>
            <ion-checkbox style="">Drug 1 ----10</ion-checkbox>
            <ion-checkbox style="">....................</ion-checkbox>
        </ion-list>
        <div style="" class="list card">
            <div class="item item-body">
                
                <button style="" class="positive button button-stable button-block">Go!</button>
                <button style="assertive" class="button button-stable button-block ">Ignore!</button>
            </div>
        </div>
		 <div style="" class="list card">
            <div class="item item-body">
                <h4 style="">No Orders Available</h4>
                <h4 style="">Check Back Again!</h4>
            </div>
        </div>
  </ion-content>
</ion-view>
