<ion-view view-title="">
  <ion-nav-title>
           <h1 class="title" style="right:50px;color:#0F75BC;font-weight:bold;font-size:xx-large">Pharmacy</h1>
    </ion-nav-title>
  <ion-content>
      <div class="item-input-inset" ng-disabled="true" ng-if="checkingForOrders==true">
          <ion-spinner class="input-wrapper"></ion-spinner><div class="input-wrapper"> Checking for orders!</div>
      </div>

      <div ng-if="ordercollections.length!=0" ng-repeat="order in ordercollections">
          <div style="" class="list card">
              <div class="item item-divider">
                  Order
              </div>
              <div class="item-input-inset" ng-disabled="true" ng-if="order.orderStatus!='1'">
                  <ion-spinner class="input-wrapper"></ion-spinner><div class="input-wrapper"> Awaiting User Confirmation</div>
              </div>
              <div class="item item-body">
                  <ion-list ng-repeat="orderItem in order.orderItemInfo">
                      <ion-toggle toggle-class="toggle-calm">{{orderItem.brandName}} - {{orderItem.quantity}}</ion-toggle>
                  </ion-list>
                  <div class="item-input-inset">
                      <a ng-href="#/app/home" href="#/app/home" class="item-input-wrapper button button-positive">H.D</a>
                      <input class="item-input-wrapper button button-balanced" value="S.P" type="submit">
                      <button class="item-input-wrapper button button-assertive" type="button" ng-click="IgnoreOrder(order)">Ignore!</button>
                  </div>
              </div>
          </div>
      </div>

      <div ng-if="ordercollections.length==0 && checkingForOrders==false" class="list card">
          <div class="item item-body">
              <h3 style="">No Orders Available</h3>
              <h3 style="">Check Back Again!</h3>
          </div>
      </div>
      
      <div style="" class="list card">
              <div class="item item-body">
                  <button ng-click="refreshOrders()" class="ion-refresh positive button button-calm button-block"> Refresh</button>
              </div>
      </div>
        
</ion-content>
</ion-view>
