<ion-view style="" title="Order Details">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h5 style="">Order to be delivered!</h5>
        <div style="" class="list card">
            <div class="item item-divider">Order</div>
            <div class="item item-body">
                <ion-list style="">
                    <ion-item style="">Drug 1</ion-item>
                    <ion-item style="">Drug 2</ion-item>
                    <ion-item style="">Drug 3</ion-item>
                </ion-list>
            </div>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Delivery Details</div>
            <div class="item item-body">
                <ion-list style="">
                    <ion-item style="">Name</ion-item>
                    <ion-item style="">Phone</ion-item>
                    <ion-item style="">Email</ion-item>
                    <ion-item style="">Address</ion-item>
                </ion-list>
            </div>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Prescription (Expand/collapse)</div>
            <div class="item item-body">
                <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto;">
                    <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
                </div>
            </div>
        </div>
        <div style="" class="list">
            <div class="item item-divider">Change Status</div>
            <div class="item item-body">
                <form style="" class="list">
                    <label style="" class="item item-select">
                        <select>Dispatched</select>
                        <select>Delivered</select>
                    </label>
                </form>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>